In [27]:
import pandas as pd

df = pd.read_csv('in/ceps.csv', delimiter=';', encoding='utf-8')
display(df.head())

df[['cidade','uf']] = df['cidade-uf'].str.split('/', expand=True)
display(df.head())

df.drop('cidade-uf', axis=1, inplace=True)
display(df.head())

df = df.reindex(columns=['cep','uf','cidade','bairro','logradouro'])
display(df.head())

       cep     cidade-uf bairro                logradouro
0  1001000  São Paulo/SP     Sé  Praça da Sé - lado ímpar
1  1001001  São Paulo/SP     Sé    Praça da Sé - lado par
2  1001010  São Paulo/SP     Sé    Rua Filipe de Oliveira
3  1001900  São Paulo/SP     Sé         Praça da Sé, 108
4  1001901  São Paulo/SP     Sé         Praça da Sé, 371

       cep     cidade-uf bairro                logradouro     cidade  uf
0  1001000  São Paulo/SP     Sé  Praça da Sé - lado ímpar  São Paulo  SP
1  1001001  São Paulo/SP     Sé    Praça da Sé - lado par  São Paulo  SP
2  1001010  São Paulo/SP     Sé    Rua Filipe de Oliveira  São Paulo  SP
3  1001900  São Paulo/SP     Sé         Praça da Sé, 108   São Paulo  SP
4  1001901  São Paulo/SP     Sé         Praça da Sé, 371   São Paulo  SP

       cep bairro                logradouro     cidade  uf
0  1001000     Sé  Praça da Sé - lado ímpar  São Paulo  SP
1  1001001     Sé    Praça da Sé - lado par  São Paulo  SP
2  1001010     Sé    Rua Filipe de Oliveira  São Paulo  SP
3  1001900     Sé         Praça da Sé, 108   São Paulo  SP
4  1001901     Sé         Praça da Sé, 371   São Paulo  SP

       cep  uf     cidade bairro                logradouro
0  1001000  SP  São Paulo     Sé  Praça da Sé - lado ímpar
1  1001001  SP  São Paulo     Sé    Praça da Sé - lado par
2  1001010  SP  São Paulo     Sé    Rua Filipe de Oliveira
3  1001900  SP  São Paulo     Sé         Praça da Sé, 108
4  1001901  SP  São Paulo     Sé         Praça da Sé, 371